/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: Lato;
}
html {
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #1696d2;
    text-shadow: none;
}
::selection {
    background: #1696d2;
    color: #fff;
    text-shadow: none;
}
#hide-images {
    position: fixed;
    left: -9999px;
    top: -9999px;
}
.btn {
    display: inline;
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1696d2;
    display: block;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    float: left;
    margin-right: 1px;
}
a {
    color: #1696d2;
    text-decoration: none;
}
.btn:hover {
    background-color: #000;
    color: #fff !important;
}
.dl {
    background-color: #000;
    display: inline;
    margin-left: 1px;
    float: right;
}
.dl:hover {
    background-color: #1696d2;
}
.downloads {
    float: right;
}

.static-chart{
 display: none;
}
.chart-notes {
    font-size: 0.8em;
    line-height: 1.5em;
}
hr {
    width: 150px;
    display: inline-block;
    border: 3px solid #1696d2;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.chart {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    position: relative;
    min-width: 400px;
    min-height: 400px;
    max-height: 400px;
    height: 70%;
}
.chart img {
    max-width: 100%;
    max-height: 100%;
}
h5 {
    text-transform: uppercase;
    color: #1696d2;
    margin: 0;
}
button {
    background-color: #1696d2;
    padding: 4px 9px 4px;
    border: 0px outset buttonface;
    color: #fff;
    font-size: 13px;
}
button:hover {
    background-color: #000;
}
#time-series-btns {
    margin-bottom: 4px;
}
#time-series-btns > button.active {
    background: #000;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/24px'Lato', Helvetica, Helvetica Neue, Arial;
}
.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto
}
.main article p {
    margin-top: 0;
}
.main h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1em;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.navbar {
    background-color: #000;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 0.8em;
}
.main h1 .number {
    width: 40px;
    background-color: #1696d2;
    color: #fff;
    height: 40px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -10px;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 0.8em;
}
.copyright {
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
}
.caption {
    font-family: Georgia, serif;
    font-style: italic;
}
.header-container {
    background-color: #000;
}
.main aside {
    margin-left: 0%;
}
.role {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
    color: #bbb;
}
#research {
    width: 45%;
    float: left;
}
#feature {
    width: 45%;
    margin-left: 10%;
    float: left;
}
.header-container,
.main aside {
    background: #f9f9f9;
}

.author {
    margin-bottom: 0px;
    margin-top: 0px;
}
.aside-content {
    margin: 20px;
}
.title {
    color: white;
}
.title-text {
    width: 100%;
    background-color: #fff;
    margin-top: -72px;
    margin-bottom: 20px;
    margin-left: -30px;
    padding-left: 30px;
    padding-top: 30px;
    font: 400 30px/36px Lato, sans-serif;
}
.intro-text {
    font: 400 20px/26px Lato, sans-serif;
}
.closing-text {
    font: 400 16px/24px Lato, sans-serif;
}
.main-image {
    background-image: url("../img/AP173355447669.jpg");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    max-width: 100%;
}
/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: inline-block;
    margin-bottom: 5px;
    width: 33%;
    font-size: 0.8em;
    float: left;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
nav a:hover,
nav a:visited {
    color: white;
    background-color: #555;
    text-decoration: none;
}
#logo:hover {
    background-color: transparent;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}
.main aside {
    color: #000;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* ====================
    INTERMEDIATE: Menu
   ==================== */
    nav a {
        float: left;
        display: inline-block;
        width: 27%;
        margin: 0 1.7%;
        padding: 10px 2%;
        margin-bottom: 0;
        font-size: 1em;
    }
    nav li:first-child a {
        margin-left: 0;
    }
    nav li:last-child a {
        margin-right: 0;
    }
    /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
@media only screen and (min-width: 768px) {
    /* ====================
    WIDE: CSS3 Effects
   ==================== */
    /* ============
    WIDE: Menu
   ============ */
    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
        display: inline-block;
    }
    /* ============
    WIDE: Main
   ============ */
    .main article {
        float: left;
        width: 30%;
    }
    .main aside {
        float: right;
        width: 65%;
    }
}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href)")";
    }
    abbr[title]:after {
        content: " (" attr(title)")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    hr {
        page-break-after: auto;
    }
    .title-text {
        margin-top: 0;
    }
    .main-image {
        display: none;
    }
    .main aside {
        margin: 0 auto;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-family: serif;
    }
    .static-chart {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }
    .chart{
     display:none;   
    }
    .show{
     display: none;
    }
    .chart show{
     display: none;   
    }

    .hide {
        display: none;
    }
    .btn {
        display: none;
    }
    nav{
     display: none;
    }
    #logo{
     display:none;   
    }
    .btn-group{
     display: none;
    }
}
/*Pop up styles*/

.overlay {
    position: fixed;
    display: none;
    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7);
    /* 0.7 = 70% opacity */
    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.popup {
    top: 20%;
    right: 20%;
    left: 20%;
    height: auto;
    position: fixed;
    z-index: 3;
    background-color: white;
}
.popup-title {
    height: 45px;
    background-color: #EEEFF0;
    padding: 10px;
}
.popup-title > span {
    font-family: Lato;
    color: #00ADEF;
}
.popup-image-container {
    background-color: white;
    height: auto;
    padding: 15px;
}
.popup-image-container > img.single {
    max-width: 100%;
    margin: auto 0;
}
.popup-image-container > img.double {
    max-width: 50%;
    height: auto;
}
.popup-footer {
    background-color: #EEEFF0;
    bottom: 0;
    padding: 10px;
    height: 60px;
}
#close-popup {
    float: right;
    top: -5px;
    position: relative;
}
#close-popup:hover {
    cursor: pointer;
}
#close-popup > img {
    width: 85%;
    float: right;
    margin-top: 6%;
    margin-right: 6%;
}
#popup-left-column {
    float: left;
    width: 48%;
    margin-right: 2%;
}
#popup-right-column {
    float: left;
    width: 48%;
}
#popup-left-header {
    width: 100%;
    border-bottom: #555 1px solid;
    margin-bottom: 15px;
}
#popup-right-header {
    width: 100%;
    border-bottom: #555 1px solid;
    margin-bottom: 15px;
}
footer p{
    line-height: 1.6;
    margin-bottom: 15px !important;
}







#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(1), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(1),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(2), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(2),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(4), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(4),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(5), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(5),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(7), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(7),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(8), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(8),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(10), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(10),
#racial-wealth-gap-mean .highcharts-xaxis .highcharts-tick:nth-child(12), #racial-wealth-gap-mean .highcharts-xaxis-labels text:nth-child(12) {
    display: none;
}